@using GourmeJunk.Models.ViewModels.Orders
@using GourmeJunk.Data.Models
@using GourmeJunk.Common

@model OrderConfirmViewModel

<form asp-action="OrderPickup" asp-controller="Order" asp-route-orderId="@Model.Id" method="post">
    <div class="container row border ml-1 backgroundWhiteBorder mx-auto">
        <div class="col-lg-8 col-12" style="border-right:1px solid #bbb9b9">
            <br />
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <div class="col-3">
                    <label class="text-secondary font-weight-bold">Pickup Person</label>
                </div>
                <div class="col-9">
                    <input asp-for="PickupName" disabled class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label class="text-secondary font-weight-bold">Phone Number</label>
                </div>
                <div class="col-9">
                    <input asp-for="PhoneNumber" disabled class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label class="text-secondary font-weight-bold">Order Total</label>
                </div>
                <div class="col-9">
                    @{
                        var itemPrice = Model.OrderTotal != default(decimal)
                            ? Model.OrderTotal
                            : Model.OrderTotalOriginal;
                    }
                    <input disabled class="form-control" value="$ @itemPrice" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label class="text-secondary font-weight-bold">Pickup Time</label>
                </div>
                <div class="col-9">
                    <input value="@Model.PickUpDateAndTime.ToShortDateString() @Model.PickUpDateAndTime.ToShortTimeString()" disabled class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Comments" class="text-secondary font-weight-bold"></label>
                </div>
                <div class="col-9">
                    <textarea asp-for="@Model.Comments" rows="3" class="form-control" disabled></textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <h4 class="d-flex justify-content-between align-content-center mb-3">
                <span class="text-muted">Order ID: </span>
                <span class="badge badge-secondary badge-pill">@Model.Id.Substring(Model.Id.Length - 5, 5)</span>
            </h4>
            <ul class="list-group mb-3">
                @foreach (var item in Model.OrderItems)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <h6 class="my-0 text-secondary font-weight-bold">@item.Name</h6>
                            <small class="text-muted">Quantity : @item.Count</small>
                        </div>
                        <span class="text-muted">$@(item.Price * item.Count)</span>
                    </li>
                }
                @if (Model.CouponName != null)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <div class="text-success">
                            <h6 class="my-0">Promo Code</h6>
                            <small>@Model.CouponName</small>
                        </div>
                        <span class="text-success">-$@(Model.OrderTotalOriginal - Model.OrderTotal)</span>
                    </li>
                }
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <small class="text-info font-weight-bold">Total (USD)</small>
                    <strong class="text-info">

                        @if (Model.OrderTotal != default(decimal))
                        {
                            @Model.OrderTotal.ToString("C")
                        }
                        else
                        {
                            @Model.OrderTotalOriginal.ToString("C")
                        }
                    </strong>
                </li>

            </ul>
            @if (Model.Status.Equals(OrderStatus.Ready) && (User.IsInRole(GlobalConstants.ADMINISTRATOR_ROLE_NAME) || User.IsInRole(GlobalConstants.DELIVERY_ROLE_NAME)))
            {
                <button type="submit" class="btn btn-success form-control"><i class="far fa-thumbs-up"></i> Confirm Pickup</button>
            }
            else
            {
                <button type="submit" disabled class="btn btn-info form-control">@Model.Status</button>
            }
        </div>
    </div>
</form>

