@using GourmeJunk.Models.ViewModels.Orders
@using GourmeJunk.Data.Models

@model ManageOrdersListViewModel

@{
    ViewData["Title"] = "Manage Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" class="d-flex justify-content-center">
    @if (Model.Orders.Count > 0)
    {
        <div class="container row bg-white p-3 mb-3 rounded">
            <h2 class="text-info mb-1 ml-2">Manage Orders</h2>
            @foreach (var order in Model.Orders)
            {
                <div class="col-12 pb-3 pt-3">
                    <div class="">
                        <div class="row">
                            <div class="col-md-4">
                                <span class="text-secondary font-weight-bold">Order Id :</span> @order.Id.Substring(order.Id.Length - 5, 5).ToUpper()
                                <ul class="text-info">
                                    @foreach (var item in order.OrderItems)
                                    {
                                        <li>@item.Name x @item.Count</li>
                                    }
                                </ul>
                            </div>
                            <div class="col-md-4 pb-2">
                                <div class="input-group pb-2">
                                    <div class="input-group-append">
                                        <span class="input-group-text">Time</span>
                                    </div>
                                    <input type="text" class="border rounded form-control" readonly value="@order.PickupTime" />
                                </div>
                                @{
                                    var comments = order.Comments;
                                    if (comments == null || comments.Trim().Length == 0)
                                    {
                                        order.Comments = "No Instructions";
                                    }

                                }
                                <textarea asp-for="@order.Comments" readonly class="rounded border form-control" style="width:100%;height:75px;"></textarea>
                            </div>
                            <div class="col-md-3 offset-md-1 d-flex align-content-center">
                                @if (order.Status.Equals(OrderStatus.Submitted.ToString()))
                                {
                                    <div class="col-12">
                                        <button type="submit" asp-action="OrderPrepare" asp-route-id="@order.Id" class="btn btn-info form-control mb-3">
                                            <i class="fas fa-check"></i> &nbsp; Start Cooking
                                        </button>
                                        <button type="submit" asp-action="OrderCancel" asp-route-id="@order.Id" class="btn btn-danger form-control mb-3">
                                            <i class="fas fa-times"></i> &nbsp; Cancel Order
                                        </button>
                                    </div>
                                }
                                else
                                {
                                    @if (order.Status.Equals(OrderStatus.Cooking.ToString()))
                                    {
                                        <div class="col-12">
                                            <button type="submit" asp-action="OrderReady" asp-route-id="@order.Id" class="btn btn-secondary form-control mb-3">
                                                <i class="fas fa-flag-checkered"></i> &nbsp; Order Ready
                                            </button>
                                            <button type="submit" asp-action="OrderCancel" asp-route-id="@order.Id" class="btn btn-danger form-control mb-3">
                                                <i class="fas fa-times"></i> &nbsp; Cancel Order
                                            </button>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div page-model="@Model.PagingInfo" page-classes-enabled="true" page-class="btn border"
                 page-class-normal="btn btn-light" page-class-selected="btn btn-info active"
                 class="btn-group float-right">
            </div>
        </div>
    }
    else
    {
        <div class="d-flex flex-grow-1 flex-column backgroundWhite">
            <h2 class="text-info mb-1 ml-2">Manage Orders</h2>
            <p class="lead mt-2 ml-2">No orders exist...</p>
        </div>
    }
</form>



